<div class="container"> 
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <img src="assets/Image/Expositor.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jacobo de Léon</h5>
          <p class="card-text">AWS Solutions Architect</p>
          <a href="https://www.linkedin.com/in/jacobodl/" target="_blank">
            <button class="btn btn-primary" >Sobre él..</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <img src="assets/Image/Expositor2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lic. Sergio Gudiel</h5>
          <p class="card-text">Prevención de riesgos y ataques cibernéticos.</p>
          <a href="https://www.linkedin.com/in/sergio-gudiel-871298166/?originalSubdomain=gt" target="_blank">
            <button class="btn btn-primary" >Sobre él..</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <img src="assets/Image/Expositor3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Jorge Samayoa</h5>
          <p class="card-text">Artificial Intelligence at Work.</p>
          <a href="https://www.linkedin.com/in/jsamayoa/" target="_blank">
            <button class="btn btn-primary" >Sobre él..</button>
          </a>
        </div>
      </div>
    </div>    
    
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <img src="assets/Image/mercedez.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ing. Mercedes Wyss</h5>
          <p class="card-text">Desarrollo móvil y computación cuantica.</p>
          <a href="https://www.linkedin.com/in/itrjwyss?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
            <button class="btn btn-primary" >Sobre élla..</button>
          </a>
        </div>
      </div>
    </div>


  </div>
</div>
