
    
    <form [formGroup]="form" (ngSubmit)="create()">
    <div class="row mt-0">
        <div class="col-md-12 ">
            <div class="logo">
                <img src="assets/Image/logoUMG.png" alt="Logo SIM'24">
            </div>
        <h4 >Registro</h4>
        <p>A continuacion ingresa tus datos para registrarte al evento. </p>
        </div>
        </div>
        <hr>
        
        <label for="exampleInputCarnet" class="col-sm-2 col-form-label">Carné</label>
        <div class="mb-3 row">
            
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm text-center" id="exampleInputCarnet1" formControlName="carnet">
            </div>
            <!-- <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm text-center" id="exampleInputCarnet2" formControlName="carnet2">
            </div>
            <div class="col-sm-4">cls
                <input type="text" class="form-control form-control-sm text-center" id="exampleInputCarnet3" formControlName="carnet3">
            </div> -->
        </div>
        
    <div class="mb-3">
        <label for="exampleInputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control form-control-sm text-center" id="exampleInputNombre" formControlName="nombres">
    </div>
    <div class="mb-3">
        <label for="exampleInputApellido" class="form-label">Apellido</label>
        <input type="text" class="form-control form-control-sm text-center" id="exampleInputApellido" formControlName="apellidos">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Correo</label>
        <input type="email" class="form-control form-control-sm text-center" id="exampleInputEmail" formControlName="correo">
    </div>
    <div class="mb-3">
        <label for="exampleInputFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control form-control-sm text-center" id="exampleInputFechaNacimiento" formControlName="fechaNacimiento">
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>
