<form [formGroup]="form" (ngSubmit)="create()">
  <div class="row mt-0">
    <div class="col-md-12 ">
      <div class="logo">
        <img src="assets/Image/logoUMG.png" alt="Logo SIM'24">
      </div>
      <h4>Registro</h4>
      <p>A continuación ingresa tus datos para registrarte al evento.</p>
    </div>
  </div>
  <hr>
  <label for="exampleInputCarnet" class="col-sm-2 col-form-label">Carné</label>
  <div class="mb-3 row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <input type="text" class="form-control form-control-sm text-center" id="Carnet1" formControlName="carnet1" maxlength="4" (input)="autoFocusNext('Carnet2', 4)">
      <div *ngIf="form.get('carnet1')?.invalid && form.get('carnet1')?.touched" class="text-danger">
        El carnet debe tener 4 dígitos.
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <input type="text" class="form-control form-control-sm text-center" id="Carnet2" formControlName="carnet2" maxlength="2" (input)="autoFocusNext('Carnet3', 2)">
      <div *ngIf="form.get('carnet2')?.invalid && form.get('carnet2')?.touched" class="text-danger">
        El carnet debe tener 2 dígitos.
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <input type="text" class="form-control form-control-sm text-center" id="Carnet3" formControlName="carnet3">
      <div *ngIf="form.get('carnet3')?.invalid && form.get('carnet3')?.touched" class="text-danger">
        El carnet debe tener entre 3 y 6 dígitos.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputNombre" class="form-label">Nombre</label>
    <input type="text" class="form-control form-control-sm text-center" id="exampleInputNombre" formControlName="nombres">
    <div *ngIf="form.get('nombres')?.invalid && form.get('nombres')?.touched" class="text-danger">
      El nombre solo debe contener letras.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputApellido" class="form-label">Apellido</label>
    <input type="text" class="form-control form-control-sm text-center" id="exampleInputApellido" formControlName="apellidos">
    <div *ngIf="form.get('apellidos')?.invalid && form.get('apellidos')?.touched" class="text-danger">
      El apellido solo debe contener letras.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo</label>
    <input type="email" class="form-control form-control-sm text-center" id="exampleInputEmail1" formControlName="correo">
    <div *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched" class="text-danger">
      Ingresa un correo válido.
    </div>
    <div *ngIf="form.get('correo')?.errors?.['emailDomain']" class="text-danger">
      El correo debe pertenecer al dominio &#64;miumg.edu.gt
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Confirmación de Correo</label>
    <input type="email" class="form-control form-control-sm text-center" id="exampleInputEmail2" formControlName="confirmacionCorreo">
    <div *ngIf="form.get('confirmacionCorreo')?.invalid && form.get('confirmacionCorreo')?.touched" class="text-danger">
      Ingresa un correo válido.
    </div>
    <div *ngIf="form.errors?.['emailMismatch'] && form.get('confirmacionCorreo')?.touched" class="text-danger">
      Los correos no coinciden.
    </div>
  </div>
  <div class="mb-3 text-center recaptcha-container">
    <div id="tu-recaptcha-element" class="g-recaptcha" data-sitekey="6LdDpt8pAAAAADLz_MpgfTqem-XnmTnuLgjJai4B"></div>
  </div>
  <div class="mb-3 text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registrar</button>
  </div>
</form>
