

<div class="container-flex">
  <app-slidebar></app-slidebar>
  <div class="container-content mt-5">
    <h1>Verificar Pagos</h1>
    <div class="container-table">
      <div class="table-wrapper">
          <table class="table table-hover">
              <thead class="table-header">
                  <tr>
                      <th scope="col">ID PAGO</th>
                      <th scope="col">CARNET</th>
                      <th scope="col">NOMBRE</th>
                      <th scope="col">APELLIDO</th>
                      <th scope="col">MONTO A PAGAR</th>
                      <th scope="col">FECHA Y HORA</th>
                      <th scope="col" colspan="3">OPCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  @for (item of pagos; track item.id) {
                      <tr>
                          <td>{{item.id}}</td>
                          <td>{{item.participante.carnet}}</td>
                          <td>{{item.participante.nombres}}</td>
                          <td>{{item.participante.apellidos}}</td>
                          <td>Q{{item.monto}}.00</td>
                          <td>{{item.fechaHora}}</td>
                          <td><button class="btn-aceptar" (click)="aceptarPago(item.id, item.participante.carnet)">Aceptar</button></td>
                          <td><button class="btn-rechazar">Rechazar</button></td>
                          <td><button class="btn-imagen" onclick="<app-modalimage></app-modalimage>">Imagen</button></td>
                      </tr>
                  }
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>
