
<div class="container-flex">
  <app-slidebar></app-slidebar>
  <div class="container-content mt-5">
    <h1>Verificar pagos</h1>
    <div class="container-table">
      <div class="table-wrapper">
          <table class="table table-hover">
              <thead class="table-header">
                  <tr>
                      <th scope="col">ID DETALLE</th>
                      <th scope="col">CARNET</th>
                      <th scope="col">MERCHANDISING</th>
                      <th scope="col">CANTIDAD</th>
                      <th scope="col">TOTAL</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>4546546464</td>
                      <td>PLAYERA</td>
                      <td>1</td>
                      <td>Q.100</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>4546546464</td>
                    <td>PLAYERA</td>
                    <td>1</td>
                    <td>Q.100</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>4546546464</td>
                  <td>PLAYERA</td>
                  <td>1</td>
                  <td>Q.100</td>
              </tr>
              <tr>
                <td>1</td>
                <td>4546546464</td>
                <td>PLAYERA</td>
                <td>1</td>
                <td>Q.100</td>
            </tr>
            <tr>
              <td>1</td>
              <td>4546546464</td>
              <td>PLAYERA</td>
              <td>1</td>
              <td>Q.100</td>
          </tr>
          <tr>
            <td>1</td>
            <td>4546546464</td>
            <td>PLAYERA</td>
            <td>1</td>
            <td>Q.100</td>
        </tr>
        <tr>
          <td>1</td>
          <td>4546546464</td>
          <td>PLAYERA</td>
          <td>1</td>
          <td>Q.100</td>
      </tr>
      <tr>
        <td>1</td>
        <td>4546546464</td>
        <td>PLAYERA</td>
        <td>1</td>
        <td>Q.100</td>
    </tr>
    <tr>
      <td>1</td>
      <td>4546546464</td>
      <td>PLAYERA</td>
      <td>1</td>
      <td>Q.100</td>
  </tr>
  <tr>
    <td>1</td>
    <td>4546546464</td>
    <td>PLAYERA</td>
    <td>1</td>
    <td>Q.100</td>
</tr>
<tr>
  <td>1</td>
  <td>4546546464</td>
  <td>PLAYERA</td>
  <td>1</td>
  <td>Q.100</td>
</tr>
    
                  <!-- Añade más filas aquí según sea necesario -->
              </tbody>
          </table>
      </div>
  </div>
  
  
  </div>
</div>
