



<div class="container-flex">
  <app-slidebar></app-slidebar>
  <div class="container-content">
    <h1>Verificar pagos</h1>
    <div class="container-buttons">
      <button id="pdf">Descargar PDF</button>
      <button id="excel">Descargar EXCEL</button>
    </div>
    <div class="container-table">
      <label for="exampleInput" class="form-label">Email address</label>
      <input type="text" class="form-control" placeholder="BUSCAR AQUI">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="container-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col ">ID DETALLE</th>
            <th scope="col">CARNET</th>
            <th scope="col">MERCHANDISING</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>1</td>
            <td>4546546464</td>
            <td>PLAYERA</td>
            <td>1</td>
            <td>Q.100</td>
          </tr>
 
        </tbody>
      </table>
    </div>
    <div class="container-table">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
