/* Estilo base para el sidebar */
.bg-dark {
    background-color: #343a40 !important;
}

.text-white {
    color: #fff !important;
}

/* Estilo para el botón de hamburguesa en pantallas pequeñas */
.navbar-toggler {
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
    background: none;
    color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

/* Estilo para las opciones del sidebar */
#sidebarOptions .nav-link {
    color: #adb5bd;
}

#sidebarOptions .nav-link.active {
    color: #fff;
}

#sidebarOptions .dropdown-menu-dark {
    background-color: #343a40;
    border-color: rgba(0, 0, 0, 0.15);
}

#sidebarOptions .dropdown-item:hover, #sidebarOptions .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #495057;
}

/* Mostrar el botón de hamburguesa solo en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    #sidebarOptions {
        display: none;
    }

    #sidebarOptions.show {
        display: block;
    }
}
