<div class="container">
    <div class="row">
        <div class="col-6">
            <!-- Div con texto -->
            <div>
      
                <h2 class="text-center">Inicia sesión para el SIM24</h2>
                <div class="logo">
                    <img src="assets/Image/simp.jpg" alt="Logo SIM'24" style="width: 50%;">
                </div>


            </div>
        </div>
        <div class="col-6">
            <!-- Formulario de inicio de sesión -->
            <form>
                <div class="mb-3 formulario" >
                    <label for="exampleInputEmail1" class="form-label" >Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
 
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
