.logo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

.logo img {
margin-top: 10px;
margin-bottom: 15px;
max-width: 30%; /* Ajusta el tamaño máximo de la imagen para que se ajuste al contenedor */
height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

.container{
    width: 35%;
    padding-top: 45px;
}

form{
    margin: auto;
}

label,input,h2{
    color: white;
}

label{
    font-size: 20px;
}

button{
    background-color: green;
    color: white;
    margin: auto;
}

button:hover{
    border: 1px solid green;
    color: white;
}

/* Para laptops: ancho de pantalla hasta 1024px */
@media (max-width: 1024px) {
    form {
        width: 50%;
    }
  }

/* Para tablets: ancho de pantalla hasta 768px */
@media (max-width: 768px) {
    .container {
        width: 70%;
    }
  }
  
  /* Para celulares: ancho de pantalla hasta 480px */
  @media (max-width: 480px) {
    .container {
        width: 95%;
    }
  }

  