<div class="buttons">
  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#sobreNosotrosModal">
    Sobre Nosotros
  </button>
  <button type="button" class="btn btn-outline-success" (click)="redirectToRegistro()">Participa aquí</button>
  </div>
  

  <div class="modal fade" id="sobreNosotrosModal" tabindex="-1" aria-labelledby="sobreNosotrosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sobreNosotrosModalLabel">Sobre Nosotros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>"Somos un grupo de estudiantes apasionados y comprometidos
             con nuestra educación. Cada año, nos dedicamos a organizar
              simposios con el objetivo de expandir nuestros horizontes
               hacia el futuro tecnológico. Nos esforzamos por explorar
                nuevas herramientas, tendencias y desarrollos en el campo
                 de la tecnología, con el fin de enriquecer nuestra formación
                  académica y profesional. Nuestra misión es fomentar el aprendizaje
            continuo, la innovación y el crecimiento personal, inspirando a
            otros a unirse a nosotros en este viaje hacia el conocimiento y la excelencia."</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>