
<div class="container-flex" >
    <app-slidebar></app-slidebar>
    <div class="container-content mt-5">
      <h1>Pagos registrados</h1>
      <div class="container-buttons">
        <button id="pdf">Descargar REPORTES PDF</button>

      </div>

      <div class="container-table">
        <div class="flex flex-wrap mt-6">
            <div class="w-full lg:w-1/2 pr-0 lg:pr-2">
                <p class="text-xl pb-3 flex items-center text-white">
                    <i class="fas fa-check mr-3"></i> Inscritos vs Pagado
                </p>
                <div class="p-6 bg-white ">
                    <canvas #chartOne width="400" height="200"></canvas>
                </div>
            </div>
            <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
                <p class="text-xl pb-3 flex items-center text-white">
                    <i class="fas fa-check mr-3"></i> Detalle solicitado vs Detalle pagado
                </p>
                <div class="p-6 bg-white">
                    <canvas #chartTwo width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        

            <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
                <p class="text-xl pb-3 flex items-center text-white">
                    <i class="fas fa-check mr-3"></i> Merchadasing solicitado vs Merchadasing pagado
                </p>
                <div class="p-6 bg-white">
                    <canvas #chartFour width="400" height="200"></canvas>
                </div>
            </div>
        