
<div class="container-flex" >
    
    <div class="container-content mt-5">
      <h1>Pagos registrados</h1>
 

      <div class="container-table">

        <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
            <p class="text-xl pb-3 flex items-center text-white">
                <i class="fas fa-check mr-3"></i> Merchadasing solicitado vs Merchadasing pagado
            </p>
            <div class="p-6 bg-white">
                <canvas id="chart">{{chart}}</canvas>
            </div>
        </div>
        <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
            <p class="text-xl pb-3 flex items-center text-white">
                <i class="fas fa-check mr-3"></i> Merchadasing solicitado vs Merchadasing pagado
            </p>
            <div class="p-6 bg-white">
                <canvas id="chart">{{chart}}</canvas>
            </div>
        </div>
        <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
            <p class="text-xl pb-3 flex items-center text-white">
                <i class="fas fa-check mr-3"></i> Merchadasing solicitado vs Merchadasing pagado
            </p>
            <div class="p-6 bg-white">
                <canvas id="chart">{{chart}}</canvas>
            </div>
        </div>