<div class="accordion accordion-flush text-light bg-dark" id="accordionFlushExample">
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿Quiénes somos?
          </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">"Somos un grupo de estudiantes apasionados y comprometidos con nuestra educación. Cada año, nos dedicamos a organizar simposios con el objetivo de expandir nuestros horizontes hacia el futuro tecnológico.
              Nos esforzamos por explorar nuevas herramientas, tendencias y desarrollos en el campo de la tecnología, con el fin de enriquecer nuestra formación académica y profesional.
              Nuestra misión es fomentar el aprendizaje continuo, la innovación y el crecimiento personal, inspirando a otros a unirse a nosotros en este viaje hacia el conocimiento y la excelencia."</div>
      </div>
  </div>
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Qué es un simposio tecnológico?
          </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Un simposio tecnológico es un evento donde personas interesadas en la tecnología se reúnen para compartir ideas, aprender sobre los últimos desarrollos y tendencias, y discutir diversos temas relacionados con la tecnología. Es como una gran reunión donde expertos, aficionados y empresas muestran innovaciones, dan charlas y talleres, y se establecen conexiones entre los participantes. Se enfoca en el avance y la aplicación de la tecnología en diferentes campos, como la informática, la robótica, la inteligencia artificial, entre otros.</div>
      </div>
  </div>
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿Quiénes pueden participar?
          </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Estudiantes de diferentes semestres de la carrera de ingeniería en sistemas, sin distinción de edad, sexo, origen.</div>
      </div>
  </div>
</div>
