.accordion{
    --bs-accordion-btn-bg: #1C1D1F ;
    --bs-accordion-btn-color: white;
    --bs-accordion-active-bg: #1C1D1F;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-bg: #1C1D1F;
    --bs-accordion-color: white;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-button-color: white;
    
}

.accordion-button:not(.collapsed){
    box-shadow: white;
}
.accordion-button{
    border-top: 1px solid greenyellow;
}

.accordion-button::after {
    /* Cambia el color de la flecha a blanco */
    color: white;
}

#accordionFlushExample .accordion-button::after {
    color: white;
}
