<div class="sections-container">
  <div class="section" id="section1">
    <div class="title">Sección informativa</div>
    <app-accordion></app-accordion>
  </div>
    <div class="section" id="section2">
        <div class="title">Simposios anteriores...</div>
        <app-carousel></app-carousel>
    </div>
      <div class="section" id="section3">
        <div class="title">Temas</div>
        <p>Contenido de la sección 1...</p>
      </div>
      <div class="section" id="section3">
        <div class="title">Expositores</div>
       <app-card></app-card>
      </div>
  </div>
  